* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

section:nth-child(2n+1) {
    background-color: #FFFFFF;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    padding-bottom: 1.2rem;
}

.card {
    height: 13rem;
    margin-bottom: 1rem;
    color: #505050;
    background-color: #FFFFFF;
    overflow: hidden;
}

.card:hover {
    background-color: #FBFBFB;
}

.card a {
    color: #505050;
    text-decoration: none;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.card-text {
    color: #858585;
    max-height: 7rem;
    overflow: hidden;
    text-align: left;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 34em) and (max-width: 64em) {
    .btn {
      padding: 0.6rem 0.9rem;
      font-size: 0.9rem;
    }
}

@media screen and (max-width: 34em) {
    .btn {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 0.9rem;
    }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.page-header h1 {
    padding-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
}

.page-header h4 {
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
    .page-header h1 {
        font-size: 84px;
    }
    .page-header h4 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 34em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
     .page-header h1 {
        font-size: 60px;
    }
    .page-header h4 {
        font-size: 1.5rem;
    }
  }

@media screen and (max-width: 34em) {
    .page-header {
        padding: 2rem 2rem;
    }
    .page-header h1 {
        font-size: 42px;
    }
    .page-header h4 {
        font-size: 1.2rem;
    }
}

.section-container {
    max-width: 920px;
    padding: 5rem 2rem;
    margin: 0 auto;
    text-align: center;
}

.section-container>h2 {
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4rem;
}

#about {
    background: #FFFFFF;
}

.about-container {
    max-width: 920px;
    padding: 0 2rem;
    text-align: center;
}

.about-content img {
    border-radius: 50%;
    margin: 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.about-desc ul {
    padding: 0;
}

@media screen and (min-width: 64em) {
    .about-content img {
        height: 12rem;
        width: 12rem;
        float: left;
        margin-bottom: 0;
    }
    .about-desc {
        text-align: left;
        padding-left: 15rem;
    }
    .about-desc li>strong {
        display: inline-block;
        width: 9rem;
        padding-right: 1rem;
        text-align: right;
    }
    .about-content p {
        text-align: left;
    }
}

@media screen and (min-width: 34em) and (max-width: 64em) {
    .about-content img {
        height: 9rem;
        width: 9rem;
        float: left;
        margin-bottom: 0;
    }
    .about-desc {
        text-align: left;
        padding-left: 10rem;
    }
    .about-desc li>strong {
        display: inline-block;
        width: 9rem;
        padding-right: 1rem;
        text-align: right;
    }
    .about-content p {
        text-align: left;
    }
}

@media screen and (max-width: 34em) {
    .about-content img {
        height: 8rem;
        width: 8rem;
        float: none;
        margin-bottom: 2rem;
    }
    .about-desc {
        text-align: center;
        padding-left: 0;
    }
    .about-desc li>strong {
        display: block;
        width: auto;
        padding-right: 0;
        text-align: center;
    }
    .about-content p {
        text-align: center;
    }
}

.site-footer {
    padding-top: 2rem;
    margin: 2rem 0;
    border-top: solid 1px #eff0f1;
    text-align: center;
    font-size: 11px;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}
