<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/layouts/main.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/navigators/navbar.css" />

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ .Site.Params.logo.favicon | default "/assets/images/favicon.png"}}" />

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="/assets/css/style.css" />

<!--================= sns card =========================-->
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink | absURL }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
{{ if .IsPage }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:image" content='{{ partial "helpers/get-hero.html" . | absURL }}'/>
    <meta name="og:image:url" content='{{ partial "helpers/get-hero.html" . | absURL }}'/>
{{ else }}
    <meta name="twitter:card" content="summary"/>
    <meta name="og:image" content='{{ "/images/logo.png" | absURL }}'/>
    <meta name="og:image:url" content='{{ "/images/logo.png" | absURL }}'/>
{{ end }}
{{ if .Params.description }}
    {{ with .Params.description }}
    <meta property="og:description" content="{{ . }}">
    <meta property="twitter:description" content="{{ . }}">
    {{ end }}
{{ else }}
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="twitter:description" content="{{ .Site.Params.description }}">
{{ end }}

<!--================= umami analytics =========================-->
<script async defer data-website-id="88269679-d1e9-4dbe-8fdf-824664ee86b1" src="https://umami.altescy.jp/umami.js"></script>
